/* Esto es para que el flex tenga en cuenta solo los bordes*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estas propiedades afectan a todo el body*/
body {
  font-family: 'Segoe UI';
  background-color: #fdf6f0;
  color: #333;
  padding-top: 40px;
}
/* El estilo de la estructura de la barra de navegación */
.navbar {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #e98181;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


/* Afectan a los links dentro de la barra de navegación */
.navbar a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
/* Cuando pones el ratón cambia de color el texto */
.navbar a:hover {
  color: #9f1344;
}


/* Icono del carrito */
#carrito {
  margin-left: auto;
}
/* Tamaño del carrito */
#carrito a {
  font-size: 1.5em;
}
/* Posicionar el nombre de la tienda en el centro de la barra de navegación */
.logo {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: white;
  position: absolute;
  left: 50%;
}


/* Posición del primer bloque de las imagenes */
.imagenes{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


img {
  display: flex;
  width: 30%;
  border-radius: 10px;
}
/* Se coloca el titulo y la descripcion en un bloque */
.descripcion {
  background-color: #e98181;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 200px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 
}


.descripcion h1{
  color: #9f1344;
  margin: 10px 40px;
  flex-shrink: 0;
}


.descripcion p{
  color: #fdf6f0;
  margin: 0;
  max-width: 500px;
  text-align: justify;
}


.tituloCatalogo{
  color: #e98181;
  text-align: center;
  margin: 70px;
}
/*Es el bloque principal que engloba todas las tarjetas de los productos */
.container {
  display: flex;
  flex-wrap: wrap;            
  justify-content: center;
  gap: 20px;                
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}
/* Cada tarjeta de producto */
.producto {
  background-color: #fff;
  border-radius: 12px;
  width: 260px;              
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}


.producto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}


.producto p {
  color: #555;
  font-size: 1em;
  margin: 10px;
}


.producto b {
  color: #e98181;
}
/* Caracteristicas de los botones de las tarjetas de los distintos productos */
.producto button {
  background-color: #e98181;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
/* Cambia de color el fondo del boton al pasar el ratón */
.producto button:hover {
  background-color: #9f1344;
}


.producto.estrella img {
  max-width: 400px;
  height: auto;
}
/* Alinear los radio-buttons con el label */
.opciones {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.opciones p {
  margin-bottom: 5px;
  color: #333;
}
/* Bloque en index que enlaza a contacto */
.contacto {
  max-width: 350px;      
  margin: 20px auto;      
  padding: 15px 20px;    
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;    
  text-align: center;    
}


.contacto p {
  margin: 0;
  color: #555;
}


.contacto a {
  color: #e98181;
  text-decoration: none;
  font-weight: bold;
}


p a {
  color: #e98181;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}


p a:hover {
  color: #9f1344;
}


/* Estructura del bloque de formulario */
form {
  max-width: 600px;          
  margin: 40px auto;          
  padding: 30px;              
  background-color: #fff;    
  border-radius: 12px;        
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  font-family: 'Segoe UI';
}


form h1, form h2 {
  text-align: center;
  color: #e98181;
  margin-bottom: 20px;
}


form h2 {
  font-size: 1.5em;
}


form p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 10px;
}
/* Estilo del label */
form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
  font-size: 1em;
}
/* Esto afecta a la estructura del input del textarea */
form input[type="text"],
form select,
form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}
/* Afecta al input del submit */
form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #e98181;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
/* Cuando pasas por encima con el ratón cambia el color del fondo del botón submit */
form input[type="submit"]:hover {
  background-color: #f71f6a;
}
.gif-background-container {
    /* Caracteristicas del gif */
    background-image: url('imgs/cat.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 90px;
}
